<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/clientis" routerLinkActive="active">Link to List Clienti</a>
    </div>
    <div>
        <a routerLink="/interventirs" routerLinkActive="active">Link to List InterventiR</a>
    </div>
    <div>
        <a routerLink="/interventits" routerLinkActive="active">Link to List InterventiT</a>
    </div>
    <div>
        <a routerLink="/materialis" routerLinkActive="active">Link to List Materiali</a>
    </div>
 <!-- END LINKS -->
</div>